@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gradient-to-b from-[#0a0a1a] via-[#0a0a1a] to-[#000000];
  font-family: 'Saira Condensed', sans-serif;
  font-style: normal;
}
